
/* and the worlds worst reset award goes to: */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 11px/1 sans-serif;
}

/* each account */
#twitter-accounts-container li {
    padding: 4px;
}
#twitter-accounts-container li:hover {
    background: #C0DEED;
}
